.categoriesSection {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.sectionTitle {
  font-size: 2.2rem;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.categoryCard {
  background:wheat;
  overflow: hidden;
  &:hover {
    transform: translateY(-5px);
  }
}

.categoryImage {
  width: 100%;
  height: 100%;
  
  &:hover {
    transform: scale(1.05);
  }
}












